* {
margin : 0;
padding : 0;
font-family : "Trade Winds";
}
.background {
background-image : linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(../images/backgroundimg.png);
background-repeat : no-repeat;
background-size : 100% 100%;
background-attachment : fixed;
}
ul {
float : right;
list-style-type : none;
margin-top : 25px;
}
ul li {
display : inline-block;
}
ul li a {
text-decoration : none;
color : #aeaeae;
padding : 5px 20px;
transition : 0.6s ease;
}
ul li a:hover {
background-color : #ff8600;
color : #aeaeae;
}
ul li.active a {
background-color : #ff8600;
color : #aeaeae;
}
.logo img {
float : left;
width : 170px;
height : auto;
}
.main {
max-width : 1400px;
margin : auto;
}
.title {
position : absolute;
top : 50%;
left : 50%;
transform : translate(-50%,-50%);
}
.title h1 {
color : #ff8600;
font-size : 50px;
}
.welcome {
position : absolute;
top : 70%;
left : 50%;
transform : translate(-50%,-50%);
}
.cvblog {
position : absolute;
top : 90%;
left : 50%;
transform : translate(-50%,-50%);
}
.cvblog a {
padding : 10px 15px;
color : #fff;
text-decoration : none;
transition : 0.5s ease;
border-radius : 12px;
}
.cvblog a:hover {
background-color : #ff8600;
color : #aeaeae;
}
.contact {
position : absolute;
top : 120%;
left : 50%;
transform : translate(-50%,-50%);
}
.links {
position : absolute;
top : 125%;
left : 50%;
transform : translate(-50%,-50%);
}
.links a {
padding : 0 15px;
}
.container {
max-width : 950px;
margin : 0 auto;
background : #f9f9f9;
font-size : 24px;
padding : 25px;
}
.parallax {
background : url("../images/2b.png") center no-repeat;
background-size : cover;
background-attachment : fixed;
height : 300px;
}
